/* footer {
    background-color: #e9e0d2;
} */

footer .theme-by {
    visibility: hidden;
}

/* .navbar-custom {
    background-color: #e9e0d2;
} */

img {
    height: 125px;
}

.padding-top {
    padding-top: 15px;
}

/* body { */
    /* background-image: url(../img/cool-background.png); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-color: #e9e0d2; */
/* } */